
{% extends 'blog/base.html' %}
{%load staticfiles%}


{% block content %}



<!--
<link rel="stylesheet" href="{% static 'css/box.css' %}">
-->


<center>



</br></br></br></br>







</style>
<button style="background-Color:#FCA205; font:25px Lobster; border: 2px solid black; float: left;  padding: 80px; width: 30%;text-align:center;margin-left:3%;  input type="button" value="Ant-C2"  onClick="self.location='/fla'"; ">

</br>
Ant-C2
</br></br>
</button>



<button style="  font:25px Lobster; border: 2px solid black; float: left; padding: 80px; width: 30%;text-align:center;margin-right:2%;;margin-left:2%; "input type="button" value="story" onClick="self.location='/story'"; >
  </br>
story
</br></br>
</button>
<button style="font:25px Lobster; border: 2px solid black; float: right; padding: 80px; width: 30%;text-align:center;margin-right:3%;; "input type="button" value="face" onclick="location.href='http://www.google.com'">
  </br>
Face</br></br>
</button>

</div>


</center>




{% endblock content %}
